@page 
@model Proiect3ASPNET.Pages.Media.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Media List</h1>

<form>
    <p>
        File Path: <input type="text" asp-for="searchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<p>
    Number Of Results: @Html.DisplayFor(model => model.numberOfResults)
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <center>@Html.DisplayNameFor(model => model.Files[0].Id)</center>
            </th>
            <th>
                <center>Image</center>
            </th>
            <th>
                <center>@Html.DisplayNameFor(model => model.Files[0].FilePath)</center>
            </th>
            <th><center>Event Name(s)</center></th>
            <th><center>Landscape Name(s)</center></th>
            <th><center>Person Name(s)</center></th>
            <th><center>Place Name(s)</center></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Files)
        {
            <tr style="font-size:small">
                <td>
                    <cetner>@Html.DisplayFor(modelItem => item.Id)</cetner>
                </td>
                <td>
                    <center><img src="@(item.FilePath)" width="25" height="25" /></center>
                    @*Ar fi fost folosit pentru afisarea imaginilor din folderul Uploads din wwwroot*@
                    @*@Html.DisplayFor(modelItem => item.FilePath.Split("\\")[item.FilePath.Count()-1])*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FilePath)
                </td>
                <td>
                    @*<a asp-page="/Media/Details" asp-route-id="@item.Id">Details</a>*@
                    @*@Html.DisplayFor(modelItem => item.Properties.ElementAt(0)))*@
                    <center> - </center>
                </td>
                <td>
                    <center> - </center>
                </td>
                <td>
                    <center> - </center>
                </td>
                <td>
                    <center> - </center>
                </td>
            </tr>
        }
    </tbody>
</table>